<nav class="w-full bg-indigo-500 p-3 flex items-center justify-between">
    <div class="logo">
        <span class="text-gray-200 text-2xl flex justify-start items-center">BookApp</span>
    </div>
    <div *ngIf="isLogedIn" class="search relative">
      
        <input type="text" placeholder="search book"
        class="w-96 p-2 pl-9 rounded rounded-r-none text-gray-600">
         <button class="bg-slate-400 rounded-r text-white outline-none outline-0 p-2">serach</button>
    </div>

    <div class="nav-items">
        <ng-container *ngIf="!isLogedIn">
            <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-pink-700">Login</span>
            <span routerLink="/register" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-pink-700">Register</span>
        </ng-container>
        <ng-container *ngIf="isLogedIn">
            <span routerLink="/" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-pink-700">Cart</span>
            <span routerLink="/" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-pink-700">Welcome User</span>
            <span (click)="logout()" routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-pink-700">Logout</span>
        </ng-container>
    </div>
</nav>