<div class="lg:w-4/12 mt-2 p-10 shadow-lg mx-auto ">
    <h3 class="text-3xl text-center font-semibold py-5 text-violet-600">Forget Passsword </h3>
    <form [formGroup]="forgetForm" class="flex flex-col">
    <span class="mt-1 text-red-600">*Enter your Email I'd we will send you the link</span>
    <div class="flex flex-col mt-2 mb-1">
        <input type="email" formControlName ="email" class="p-2 border border-gray-300 rounded" placeholder="example@mail.com">
        <span class="text-red-500" *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty">*Email is required</span>
        <span class="text-red-500" *ngIf="forgetForm.hasError('email','email') ">*Email is Invalid</span>
    </div>
    
    <div class="mt-3 flex justify-evenly">
        <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" class="bg-indigo-500 p-2 rounded-md w-1/4 mt-3 text-white" (click)="forget()">Submit</button>
        <button routerLink="/login" class="bg-gray-500 rounded-md w-1/4 p-2 mt-3 text-white">Cancle</button>
    </div>
   
</form>
</div>
